body {
    background-color: #a19e9e;
    color: black;
}

header, footer {
    background-color: #353434;
    color: white;
}

header a, footer a {
    color: white;
}

.main_box a {
    color: black;
}

button {
    background-color: white;
    color: black;
}

.navbar {
    background-color: #7a7878;
}

.navbar ul li a {
    color: white;
}

.menu-item:hover {
    background-color: white;
    color: black;
}

.menu_box {
    background-color: #353434;
    color: white;
}

.pagination a {
    background-color: #353434;
    color: white;
}

.pagination a.active {
    background-color: white;
    color: black;
}