.container {
    display: flex;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.sounds_table {
    max-width: 1200px;
    overflow-x: auto;
    width: 100%;
    border-collapse: collapse;
}

.sounds_table th, .sounds_table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.sounds_table th {
    white-space: nowrap;
    position: sticky; /* Başlıkları sabit tutar */
    top: 0; /* Sayfanın üstüne yapışır */
    z-index: 1; /* Diğer içeriklerin üstünde kalır */
}

.sounds_table td {
    white-space: nowrap;
}

/* Küçük ekranlar için (örneğin mobil cihazlar) */
@media (max-width: 600px) {
    .sounds_table {
        padding: 10px;
        min-width: 250px;
    }
}

/* Orta boy ekranlar için (örneğin tabletler) */
@media (min-width: 601px) and (max-width: 1024px) {
    .sounds_table {
        width: 90%;
    }
}

/* Büyük ekranlar için (örneğin masaüstü) */
@media (min-width: 1025px) {
    .sounds_table {
        width: 80%;
    }
}
